.barraMenu{
    width:100%;
    margin:0.5rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 10px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    background-color:white;
}
.cardLogin{
    margin:0.5rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 10px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    background-color:white;
}
.cardArea{
    width: 202px;
    height:100px;
    margin:5px;
    border: 1.5px solid #f2f2f2;
    border-radius: 10px;
    border-color:#e3e3e3;
    background-color:white;
}
.cardArea:hover{
    width: 202px;
    height:100px;
    margin:5px;
    border: 1.5px solid #f2f2f2;
    border-radius: 10px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    cursor:pointer;
    background-color:white;
}

.cardEmpresa{
    width:100%;
    margin:0.5rem;
    margin-bottom: 0rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 7px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    background-color:white;
}

.cardEmpresa:hover{
    width:100%;
    margin:0.5rem;
    margin-bottom: 0rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 7px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.75);
    background-color:white;
}

.cardProgramacao{
    background-color:white;
    border: 1.5px solid #f5f5f5;
    border-radius: 7px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
}

.titulo{
    font-size:19px;
    font-weight:bold;
    color:gray;
}

.textoCampo{
    font-weight:bold;
    color: black;
}

.cardListagem{
    background-color:white;
    border: 1.5px solid #f5f5f5;
    border-radius: 11px;
    border-color:#e3e3e3;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:7px;
    color:black;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
}

.cardDoEstabelecimento{
    background-color:#1492e6;
    border: 1.5px solid #f5f5f5;
    border-radius: 5px;
    border-color:#1492e6;
    padding-top:3px;
    padding-bottom:3px;
    margin-bottom:5px;
    color:white;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    margin:5px;
}

.botao{
    -webkit-box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
}
.cardDashboard{
    margin:0.4rem;
    width:200px;
    height:300px;
    padding-top:1rem;
    margin-top:1rem;
    border-radius: 12px;
    border: 1.5px solid #e3e3e3;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    margin:5px;
    background-color:white;
}
.cardDashboard:hover{
    margin:0.4rem;
    width:200px;
    height:300px;
    padding-top:1rem;
    margin-top:1rem;
    border-radius: 12px;
    border: 1.5px solid #e3e3e3;
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
    margin:5px;
    background-color:white;
}

.cardDashboard.conteudo{
    margin-bottom:10px;
}
.cardDashboard_titulo{
    color:gray;
    font-family:'Hammersmith One';
    font-size:17px;
}
.cardRT{
    width:100%;
    padding:5px;
    padding-top:10px;
    border: 0.5px solid #f5f5f5;
    border-radius: 10px;
    border-color:#e3e3e3;
}
