.styleBarraPrincipalNeutro{

}
.styleBarraPrincipalPC{
    display:block;
}
.styleBarraPrincipalMOBILE{
    display:none;
}
.tituloBarraPrincipal{
    font-size:20px; font-weight:bold; color:#707070; margin-left:0px; margin-left:10px;margin-bottom:-5px; font-family:Roboto
}
.subtituloBarraPrincipal{
    font-size:18px; font-weight:normal; color:#707070; margin-left:0px; margin-left:10px;margin-bottom:-5px; font-family:Roboto
}
.styleTituloDoInputCadastro{
    font-size:16px;font-family: 'Quicksand', sans-serif;
}
.styleInputCadastro{
    width:100%; border:none; border-bottom:1px solid #ccc; outline: none; padding-bottom: 5px;
}
.limiteDeTexto{
    max-width: 40ch; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
}
.limiteDeTextoCard{
    max-width: 40ch; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
}
.cardCadastro{
    background-color:white;
    border: 1.5px solid #f5f5f5;
    border-radius: 8px;
    border-color:#e3e3e3;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:7px;
    color:black;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
}
@media screen and (max-width: 1025px) and (min-width: 200px){
    .styleBarraPrincipalMOBILE{
        display:block;
    }
    .limiteDeTexto{
        max-width: 18ch; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
    }
    .limiteDeTextoCard{
        max-width: 55ch; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
    }
}
